.recipe-ingredients {
  margin-right: 30px;
}

.ingredient-list {
  list-style-type: none;
  font-size: 19px;
  text-align: right;
}

@media screen and (max-width: 600px) {
  .recipe-ingredients {
    margin-right: 0;
    text-align: left;
  }
  .ingredient-list {
    text-align: left;
  }
}
